# API
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5023
JWT_ISSUER=codecraft
JWT_AUDIENCE=codecraft-ui
JWT_SIGNING_KEY=replace-with-a-long-random-secret

# SQL Server
SQLSERVER_PASSWORD=Your_strong_password123!
CONNECTION_STRING=Server=sqlserver,1433;Database=CodeCraftDb;User Id=sa;Password=${SQLSERVER_PASSWORD};TrustServerCertificate=true

# UI
NEXT_PUBLIC_API_BASE_URL=http://localhost:5023
